In [1]:
# Variables & data types
name="Richa"
age="22"
price="25"

age2 = age
print(name)
print(age)
print("my name is:",name)
print(age2)

Richa
22
my name is: Richa
22

In [2]:
name = ('''richa''')
name2=('richa')
print(name)
print(name)

richa
richa

In [3]:
age = 22
old = False
a = None
print(type(old))
print(type(a))

<class 'bool'>
<class 'NoneType'>

In [4]:
a = 2000
b = 400
sum = a+b
print(sum)

2400

In [5]:
print("hello world")
"""
multi-line comment ( #its a comment)
"""

hello world

'\nmulti-line comment ( #its a comment)\n'

In [6]:
#arithmetic operators
a=4
b=2
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a % b) #remainder
print(a**b) #a^b

6
2
8
2.0
0
16

In [7]:
#comparison/relational operators
a= 50
b=20

print(a==b) #False
print(a != b) #True
print(a >= b) #True
print(a > b) #True
print(a <= b) #False
print(a < b) #False

False
True
True
True
False
False

In [8]:
#assignment operators
num = 10
num += 10  #num+10 or num+= 10
print("num:",num)
num = 20
num -= 10
print("num:",num)
num = 30
num *= 10
print("num:",num)
num = 10
num /= 5
print("num:",num)
num = 50
num %= 5
print("num:",num)
num = 10
num **=5
print("num:",num)

num: 20
num: 10
num: 300
num: 2.0
num: 0
num: 100000

In [9]:
#logical operators
a = 50
b = 30
print(not a<b)
print(not a>b)

True
False

In [10]:
value1 = True
value2 = False
print("and operator:", value1 and value2)
print("or operator:", value1 or value2)

and operator: False
or operator: True

In [11]:
#type conversion
a = 2
b = 4.25
sum = a + b # 2.0 + 4.25 => 6.25
print(sum)

6.25

In [12]:
#type casting
a = int("2")
b = 4.25
print(type(a))
print(a+ b)

<class 'int'>
6.25

In [13]:
a = 3.14
a = str(a)
print(type(a))

<class 'str'>

In [14]:
name = input("enter youtr age")
print("you entered",name)

you entered 22

In [15]:
val = int(input("enter some value"))
print(type(val), val)

<class 'int'> 22

In [16]:
name = input("enter name")
age = input("enter age")
marks =float (input("enter marks"))
print("welcome",name)
print("age =",age)
print("marks =",marks)

welcome Richa
age = Richa
marks = 99.0

In [17]:
num1 = int(input("enter a no"))
num2 = int(input("enter second no"))
print  (num1 + num2)

44

In [18]:

a = "my name is richa \nmy age is 22"
print (a)

my name is richa
my age is 22

In [19]:
b = "i'm very depressed girl.\ti'm very rude"
print(b)

i'm very depressed girl.	i'm very rude

In [20]:
a = "richa" #concatenation
b = "singh"
print(a+b)

richasingh

In [21]:
str1 = "richa" #length cont
str2 = "singh"
final_str = str1 + " " + str2 #for space
print(final_str)

print(len(str1))
print(str1 + str2)

richa singh
5
richasingh

In [22]:
str = "richa singh" #indexing
     # 012345678910
ch = str[10]
print(ch)

h

In [23]:
#slicing
str = "apna college"
print(str[1:5]) 
print(str[5:len(str)])
print(str[5:]) #[5:len(str)]
print(str[:4]) #[0:4]

pna
college
college
apna

In [24]:
#slicing(negative index)

str = "apple"
    #-5-4-3-2-1
print(str[-5:-1])
print(str[-3:-1])

appl
pl

In [25]:
#String function
str = "i am studying python from Apna college"
print(str.endswith("ege"))
print(str.endswith("app"))
str = str.capitalize()
print(str)

True
False
I am studying python from apna college

In [26]:
str = "i am studying python from Apna college"
print(str.replace("o","a"))
print(str.replace("python", "javascript"))

i am studying pythan fram Apna callege
i am studying javascript from Apna college

In [27]:
str = "i am studying python from Apna college"
print(str.find("o"))
str = "i am from studying python from Apna college"
print(str.find("from"))
print(str.find("Q"))

18
5
-1

In [28]:
str = "i am studying python from Apna college"
print(str.count("from"))

1

In [29]:
str = input("richa")
print(len(str))

5

In [30]:
str= ("hi,$iam the $ symbol $99.99")
print(str.count("$"))

3

In [31]:
#Conditional Statements
#if-elif-else(syntax)
age = 24
if(age>= 18):
    print("can vote")
    print("can drive")

can vote
can drive

In [32]:
light = "green"
if(light == "red"):
    print("stop")
elif(light == "green"):
    print("go")
elif(light == "yellow"):
    print("look")
    print("end of code")

go

In [33]:
num = 5
if(num >2):
    print("greater than 2")
if(num > 3):
    print("greater than 3")

greater than 2
greater than 3

In [34]:
num = 5
if(num >2):
    print("greater than 2")
elif(num > 3):
    print("greater than 3")

greater than 2

In [35]:
light = "pink"
if(light == "red"):
    print("stop") #indentation(proper spacing)
elif(light == "green"):
    print("go")
elif(light == "yellow"):
    print("look")
else:
    print("light is broken")

light is broken

In [36]:
marks =int(input("enter marks"))
if (marks >= 90):
    print("grade A")
elif(marks >= 80):
    print("grade b")
elif(marks >=70):
    print("grade c")
elif(marks >= 60):
    print("grade d")
else:
    print("fail")

grade A

In [37]:
marks = int(input("enter student marks:"))
if(marks>=90):
    grade = "A"
elif(marks >= 80 and marks < 90):
    grade = "B"
elif(marks >= 75 and marks < 80):
    grade = "C"
else:
    grade = "D"
print("grade of the student ->", grade)

grade of the student -> A

In [38]:
#nesting
age = 90
if (age >= 18):
    if(age >= 80):
        print("cannot drive")
    else:
        print("can drive")
else:
    print("cannot drive")

cannot drive

In [39]:
num = int(input("enter number"))
rem = num % 2
if (rem == 0):
    print("even")
else:
    print("odd")

even

In [40]:
num = int(input("enter number"))
if (num % 2 == 0):
    print("even")
else:
    print("odd")

even

In [41]:
a = int(input("enter first number"))
b = int(input("enter second number"))
c = int(input("enter third number"))
if (a>=b and a>=c):
    print("first number is greatest",a)
elif (b>=c):
    print("second number is greatest", b)
else:
    print("third number is greatest",c)

third number is greatest 25

In [42]:
a = int(input("enter first number"))
b = int(input("enter second number"))
c = int(input("enter third number"))
d = int (input("enter fourth number"))
if (a>b and a>d):
    print("first number is greatest",a)
elif (b>c):
    print("second number is greatest", b)
elif(c>d):
    print("third number is greatest", c)
elif (d>b):
    print("fourth number is greatest",d)
else:
    print("done" )

fourth number is greatest 25

In [43]:
x = int(input("enter number"))
if (x % 7 == 0):
    print("multiple of 7")
else:
    print("not a multiple")

not a multiple

In [44]:

# Lists

marks = [94.4, 87.5, 95.2, 66.4, 45.1]
print(marks)
print(type(marks))
print(len(marks))
print(marks[0])
print(marks[1])

[94.4, 87.5, 95.2, 66.4, 45.1]
<class 'list'>
5
94.4
87.5

In [45]:
student = ["Richa", 85, "lucknow"]
print (student[0]) #indices ki range me hi value excess kr skte h
student[0] = "singh"
print(student)

Richa
['singh', 85, 'lucknow']

In [46]:
#list Slicing
marks = [85, 94, 76, 63, 48 ]
print(marks[1:4])
print(marks[:4])
print(marks[1:])
print(marks[-3:-1])

[94, 76, 63]
[85, 94, 76, 63]
[94, 76, 63, 48]
[76, 63]

In [47]:
#list Methods
list = [2, 1, 3]
list.append(4)
print(list)

[2, 1, 3, 4]

In [48]:
list = [2, 1, 3]
print(list.append(4))
print (list.sort())
print (list)

None
None
[1, 2, 3, 4]

In [49]:
list = [2, 1, 3]
print(list.append(4))
print (list.sort(reverse= True))
print (list)

None
None
[4, 3, 2, 1]

In [50]:
list = ["banana","litchi","apple"]
print (list.sort(reverse= True))
print (list)

None
['litchi', 'banana', 'apple']

In [51]:
list = ["banana","litchi","apple"]
print (list.sort())
print (list)

None
['apple', 'banana', 'litchi']

In [52]:
list = ['a', 'b','e', 'f', 'c', 'b']
list.reverse()
print(list)

['b', 'c', 'f', 'e', 'b', 'a']

In [53]:
list = [2, 1, 3]
list.insert(1, 5)
print (list)

[2, 5, 1, 3]

In [54]:
list = [2, 1, 3,1]
list.pop(2)
print(list)

[2, 1, 1]

In [55]:
#python documentation
#Tuples
tup = (87, 64, 33, 95, 76)
print(type(tup))

<class 'tuple'>

In [56]:
tup = (87, 64, 33, 95, 76)
print(tup[0])
print(tup[1])

87
64

In [57]:
tup = ()
print(tup)
print(type(tup))

()
<class 'tuple'>

In [58]:
tup = (1,) #single value ke sath comma compulsory
print(tup)
print(type(tup))

(1,)
<class 'tuple'>

In [59]:
#slicing
tup = (1,2,3,4)
print(tup[1:3])

(2, 3)

In [60]:
#Tuple Methods
tup = (1,2,3,4)
print(tup.index(2))

1

In [61]:
#tup = (1,2,3,4)
#print(tup.count(2))

In [62]:
movies = []
mov = input("enter 1st movie:")
movies.append(mov)
mov = input("enter 2nd movie:")
movies.append(mov)
mov = input("enter 3rd movie:")
movies.append(mov)
print(movies)

['lucy', 'shutter island', 'primer']

In [63]:
list1 = ["m","a","a","m"]
copy_list1 = list1.copy()
copy_list1.reverse()
if (copy_list1 == list1):
    print("palindrome")
else:
    print("not palindrome")

palindrome

In [64]:
grade = ["c", "d", "a", "a", "b", "b", "a"]
grade.sort()
print(grade)

['a', 'a', 'a', 'b', 'b', 'c', 'd']

In [65]:

#Dictionary & Set in Python #(key int or float or bool or tuple bhi ho skte h)
#Dictionary mutable data type h
#Duplicate key not allowed (overwrite)
info = {
    "key" : "value",
    "name" : "Richa",
    "learning": "Coding",
    "age" : 35,
    "is_adult" : True,
    "marks" : 94.4
}
print(info)

{'key': 'value', 'name': 'Richa', 'learning': 'Coding', 'age': 35, 'is_adult': True, 'marks': 94.4}

In [66]:
null_dict = {}
null_dict["name"] = "Richa"
print(null_dict)

{'name': 'Richa'}

In [67]:
info = {
    "key" : "value",
    "name" : "Richa",
    "learning": "Coding",
    "age" : 35,
    "is_adult" : True,
    "marks" : 94.4
}
print(info["key"])
print(info["name"])
print(info["learning"])
print(info["age"])
print(info["is_adult"])
print(info["marks"])

value
Richa
Coding
35
True
94.4

In [68]:
info = {
    "key" : "value",
    "name" : "Richa",
    "learning": "Coding",
    "age" : 35,
    "is_adult" : True,
    "marks" : 94.4
}
info["name"] = "richasingh"
print(info)

{'key': 'value', 'name': 'richasingh', 'learning': 'Coding', 'age': 35, 'is_adult': True, 'marks': 94.4}

In [69]:
#nested Dictionary
student = {
    "name" : "Richa",
    "subjects" : {
        "phy" : 94,
        "chem" : 89,
        "math" : 56,
    }
}
print (student["subjects"]["chem"])

89

In [70]:
student = {
    "name" : "Richa",
    "subjects" : {
        "phy" : 94,
        "chem" : 89,
        "math" : 56,
    }
}
print (student["subjects"])

{'phy': 94, 'chem': 89, 'math': 56}

In [71]:
#Dictionary Methods:

student = {
    "name" : "Richa",
    "subjects" : {
        "phy" : 94,
        "chem" : 89,
        "math" : 56,
    }
}
print (student.keys())

dict_keys(['name', 'subjects'])

In [8]:
student = {
    "name" : "Richa",
    "subjects" : {
        "phy" : 94,
        "chem" : 89,
        "math" : 56,
    }
}
print(len(student))
print (list(student.keys()))
print (len(list(student.keys())))

2
['name', 'subjects']
2

In [8]:
student = {
    "name" : "Richa",
    "subjects" : {
        "phy" : 94,
        "chem" : 89,
        "math" : 56,
    }
}
print(student.values())

dict_values(['Richa', {'phy': 94, 'chem': 89, 'math': 56}])

In [9]:
student = {
    "name" : "Richa",
    "subjects" : {
        "phy" : 94,
        "chem" : 89,
        "math" : 56,
    }
}
print(list(student.values()))

['Richa', {'phy': 94, 'chem': 89, 'math': 56}]

In [10]:
student = {
    "name" : "Richa",
    "subjects" : {
        "phy" : 94,
        "chem" : 89,
        "math" : 56,
    }
}
print(student.items())

dict_items([('name', 'Richa'), ('subjects', {'phy': 94, 'chem': 89, 'math': 56})])

In [11]:
student = {
    "name" : "Richa",
    "subjects" : {
        "phy" : 94,
        "chem" : 89,
        "math" : 56,
    }
}
print(list(student.items()))

[('name', 'Richa'), ('subjects', {'phy': 94, 'chem': 89, 'math': 56})]

In [12]:
student = {
    "name" : "Richa",
    "subjects" : {
        "phy" : 94,
        "chem" : 89,
        "math" : 56,
    }
}
pairs =list(student.items())
print(pairs[0])

('name', 'Richa')

In [21]:
student = {
    "name" : "Richa",
    "subjects" : {
        "phy" : 94,
        "chem" : 89,
        "math" : 56,
    }
}
print(student["name"])
print(student.get("name"))
print("hi")
print("welcome to")
print("we are learning")
print("coding")

Richa
Richa
hi
welcome to
we are learning
coding

In [19]:
student = {
    "name" : "Richa",
    "subjects" : {
        "phy" : 94,
        "chem" : 89,
        "math" : 56,
    }
}
#print(student["name2"]) #error
print(student.get("name2")) #no error -> none

None

In [ ]:
#print("before")
#print("after")

In [1]:
student = {
    "name" : "Richa",
    "subjects" : {
        "phy" : 94,
        "chem" : 89,
        "math" : 56,
    }
}
student.update({"city" : "delhi"})
print(student)

{'name': 'Richa', 'subjects': {'phy': 94, 'chem': 89, 'math': 56}, 'city': 'delhi'}

In [3]:
student = {
    "name" : "Richa",
    "subjects" : {
        "phy" : 94,
        "chem" : 89,
        "math" : 56,
    }
}
new_dict = {"city" : "delhi", "age": 12}
student.update(new_dict)
print(student)

{'name': 'Richa', 'subjects': {'phy': 94, 'chem': 89, 'math': 56}, 'city': 'delhi', 'age': 12}

In [4]:
student = {
    "name" : "Richa",
    "subjects" : {
        "phy" : 94,
        "chem" : 89,
        "math" : 56,
    }
}
new_dict = {"name" : "Priya", "age": 12}
student.update(new_dict)
print(student)

{'name': 'Priya', 'subjects': {'phy': 94, 'chem': 89, 'math': 56}, 'age': 12}

In [5]:
#Sets (sets are immutable and unordered) (duplicate values not allowed in sets)
nums = {1,2,3,4,5, "hello", "world"}
print(nums)
print(type(nums))
#sets are mutable but sets element are immutable

{1, 2, 3, 4, 5, 'hello', 'world'}
<class 'set'>

In [7]:
nums = {1, 2, 2, 2, "hello", "hello"}
print(nums)
print(type(nums))

{1, 2, 'hello'}
<class 'set'>

In [8]:
nums = {1, 2, 2, 2, "hello", "hello", 4 ,5}
print(nums)
print(type(nums))

{1, 2, 4, 5, 'hello'}
<class 'set'>

In [9]:
nums = {1, 2, 2, 2, "hello", "hello", 4 ,5}
print(nums)
print(len(nums)) #total number of items

{1, 2, 4, 5, 'hello'}
5

In [10]:
collection = {}
print (type(collection))

<class 'dict'>

In [11]:
collection = set() #empty set; syntax
print(type(collection))

<class 'set'>

In [12]:
#Sets Methods
collection = set()
collection.add(1)
collection.add(2)
collection.add(2)
collection.add(1)

print((collection))

{1, 2}

In [13]:
collection = set()
collection.add(1)
collection.add(2)
collection.add(2)
collection.add(1)
collection.remove(1)
print((collection))

{2}

In [16]:
collection = set()
collection.add(1)
collection.add(2)
collection.add("RICHA")
collection.add((1, 2, 3))

print(len(collection))

4

In [ ]:
#unhashable type mean dict,lists,set

In [17]:
collection = set()
collection.add(1)
collection.add(2)
collection.add("RICHA")
collection.add((1, 2, 3))
collection.clear()

print(len(collection))

0

In [18]:
collection = {"hello", "apnacollege", "world", "coding", "python"}
print(collection.pop())

python

In [20]:
set1 = {1,2,3}
set2 = {2,3,4}
print(set1.union(set2)) #1,2,3,4
print(set1)
print(set2)

{1, 2, 3, 4}
{1, 2, 3}
{2, 3, 4}

In [21]:
set1 = {1,2,3}
set2 = {2,3,4}
print(set1.intersection(set2)) #2,3
print(set1)
print(set2)

{2, 3}
{1, 2, 3}
{2, 3, 4}

In [22]:
#Q1=store following word meanings in a python dictionary:
#table: "a piece of furniture","list of facts & figures"
#cat: "a small animal"
dictionary = {
    "cat" : "a small animal",
    "table" : ["a piece of furniture", "list of facts & figures"]

}
print(dictionary)

{'cat': 'a small animal', 'table': ['a piece of furniture', 'list of facts & figures']}

In [25]:
#Q2=you are given a list of subjects for students. assume one classroom is required for 1 subject. how many classroom are needed by all students.
subjects = {
    "python", "java", "c++", "python", "javascript", "java",

    "python", "java", "C++", "c"
}
print(subjects)
print(len(subjects))

{'python', 'C++', 'javascript', 'java', 'c++', 'c'}
6

In [26]:
#Q3= WAP to enter of 3 subjects from the user and store them in a dictionary.start with an empty dictionary & add one by one. Use subjects name as key & marks as value.
marks = {}
x = int(input("enetr phy :"))
marks.update({"phy":x})

x = int(input("enter math:"))
marks.update({"math":x})

x = int(input("enter chem:"))
marks.update({"chem": x})

print(marks)

{'phy': 97, 'math': 95, 'chem': 98}

In [28]:
#Q4= figure out a way to store 9 & 9.0 as separate values in the set.
#(you can take help of built-in data types)
#1-type
values = {9, "9.0"}
print(values)

{9, '9.0'}

In [29]:
#2-type
values = {
    ("float",9.0),
    ("int" , 9)
}
print(values)

{('float', 9.0), ('int', 9)}

In [ ]:

#Loops
#while loops
count = 1
while count<= 5:
    print("hello")
    count +=1
print(count)

hello
hello
hello
hello
hello
6

In [20]:
i = 1
while i <= 5:
    i +=1
    print("Richa")

Richa
Richa
Richa
Richa
Richa

In [ ]:
#PRINT NO FROM 1 TO 5.
i = 1
while i <= 5:
    print(i)
    i +=1

1
2
3
4
5

In [25]:
n= 123456789
i = 9
while i >= 1:
    print(i)
    i -=1

9
8
7
6
5
4
3
2
1

In [ ]:
i = 1
while i <= 100: #stopping condition
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
i = 100
while i >= 1:
    print(i)
    i -= 1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [ ]:
i = 1
while i <= 10:
    print(3*i)
    i += 1

3
6
9
12
15
18
21
24
27
30

In [ ]:
#traverse
#print elements of the following list using a loop
nums = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
idx = 0
while idx < len(nums):
    print(nums[idx])
    idx += 1

1
4
9
16
25
36
49
64
81
100

In [29]:
heroes = ["superman", "batman"]
i =0
while i < len (heroes):
    print(heroes[i])
    i += 1

superman
batman

In [30]:
#search for a number x in this tuple using loop
nums = (1,4,9,16,25,36,49,64,81,100)

i = 0 #initialization
while i < len (nums):
    print(nums[i])
    i +=1

1
4
9
16
25
36
49
64
81
100

In [31]:
nums = (1,4,9,16,25,36,49,64,81,100)
x = 36
i = 0 #initialization
while i < len (nums):
    if(nums[i] == x):
        print("found at idx", i)
    i +=1

found at idx 5

In [33]:
nums = (1,4,9,16,25,36,49,64,81,100, 36)
x = 36
i = 0 #initialization
while i < len (nums):
    if(nums[i] == x):
        print("found at idx", i)
    else:
        print("finding...")
    i +=1

finding...
finding...
finding...
finding...
finding...
found at idx 5
finding...
finding...
finding...
finding...
found at idx 10

In [34]:
#Break & Continue
i = 1
while i <= 5:
    print(i)
    if (i == 3):
        break
    i += 1

1
2
3

In [35]:
nums = (1,4,9,16,25,36,49,64,81,100, 36)
x = 36
i = 0 #initialization
while i < len (nums):
    if(nums[i] == x):
        print("found at idx", i)
        break
    else:
        print("finding...")
    i +=1

finding...
finding...
finding...
finding...
finding...
found at idx 5

In [35]:
i =0
while i <= 6:
    if (i ==3):
        i += 1
        continue #skip
    print(i)
    i += 1

0
1
2
4
5
6

In [38]:
#For Loop
list = [1,2,3,4,5]
for a in list:
    print(a)

1
2
3
4
5

In [31]:
veggies = ["potato", "brijal", "ladyfinger", "cucumber"]
for x in veggies:
    print(x)

potato
brijal
ladyfinger
cucumber

In [33]:
tup = (1, 2, 3, 4, 2, 8, 9)
for num in tup:
    print(num)

1
2
3
4
2
8
9

In [34]:
str = "Richa"
for char in str:
    print(char)

R
i
c
h
a

In [36]:
str = "Richa"
for char in str:
    print(char)
else:
    print("END")

R
i
c
h
a
END

In [37]:
str =  "Richa"
for char in str:
    print(char)
print("END")

R
i
c
h
a
END

In [39]:
str = "Richa"
for char in str:
    if (char == 'c'):
        print("c found")
        break
    print(char)
else:
    print("END")

R
i
c found

In [40]:
str = "Richa"
for char in str:
    if (char == 'c'):
        print("c found")
        break
    print(char)

print("END")

R
i
c found
END

In [41]:
#Q-1print the elements of thr following list using a loop
nums = [1, 4, 9, 16, 25, 36,49 ,64, 81, 100]
for el in nums:
    print(el)

1
4
9
16
25
36
49
64
81
100

In [43]:
#Q-2search for a number x in this tuple using loop: (called linear search)
nums = [1, 4, 9, 16, 25, 36,49 ,64, 81, 100, 49]
x = 49
idx = 0
for el in nums:
    if (el == x):
        print("number found at idx", idx)
    idx += 1

number found at idx 6
number found at idx 10

In [1]:
#range()
print(range(5))

range(0, 5)

In [2]:
seq = range(5)
print(seq[0])
print(seq[1])
print(seq[2])
print(seq[3])

0
1
2
3

In [3]:
seq = range(5)
for i in seq:
    print(i)

0
1
2
3
4

In [4]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [5]:
for i in range(10): #range(stop)
     print(i)

0
1
2
3
4
5
6
7
8
9

In [6]:
for i in range(2,10): #range(start,stop)
    print(i)

2
3
4
5
6
7
8
9

In [7]:
for i in range(2,10,2): #range (start, stop, step/gap)
    print(i)

2
4
6
8

In [8]:
for i in range(2,30,2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28

In [9]:
#Q-1 PRINT no from 1 to 100.
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [10]:
#Q-2 PRINT no from 100 to 1.
for i in range(100,0,-1):
    print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [11]:
#Q-3 PRINT the multiplication table of a number n.
n = int(input("enter a no"))
for i in range(1,11):
    print(n*i)

12
24
36
48
60
72
84
96
108
120

In [3]:
#PASS STATEMENT
for i in range(5):
    pass
    #empty
print("some useful work")

some useful work

In [4]:
for i in range(5):
    pass
if i > 5:
    pass
print("some useful work")

some useful work

In [14]:
#Q-WAP to find the sum of first n natural no.
n = 4
 
sum = 0
for i in range( 1,n+1):
    sum += i
    print("total sum =",sum)

total sum = 1
total sum = 3
total sum = 6
total sum = 10

In [7]:
n = 7
sum = 0
i = 1
while i <= n:
    sum +=i
    i += 1
print("total sum", sum)

total sum 28

In [16]:
#Q-WAP to find the factorial of first n numbers.
n = 5
fact = 1
i = 1
while i <= n:
    fact *= i
    i += 1
print("factorial =", fact)

factorial = 120

In [17]:
n = 5
fact = 1
for i in range(1, n+1):
    fact *= i
print("factorial =",fact)

factorial = 120

In [13]:

#Functions
def calc_sum(a,b):
    sum = a + b
    print(sum)
    return sum


calc_sum(5,10) #function call

15

15

In [14]:
calc_sum(2, 10)

12

12

In [6]:
calc_sum(12, 17)

29

29

In [15]:
def calc_sum(a,b):
    return a + b

In [16]:
sum = calc_sum(1 ,3)
print(sum)

4

In [5]:
def calc_sum(a , b):
    return a+b
sum = calc_sum(178, 2221)
print(sum)

2399

In [6]:
#function defination
def calc_sum(a, b): #parameters
    return a + b
sum = calc_sum(1, 2) #function call; arguments
print(sum)

3

In [8]:
def print_hello():
    print("hello")

print_hello()
print_hello()
print_hello()
print_hello()
print_hello()

hello
hello
hello
hello
hello

In [18]:
output = print_hello()
print(output)

hello
None

In [17]:
def print_hello():
    print("hello")


output = print_hello()
print(output)

hello
None

In [19]:
#average of 3 numbers
def calc_avg(a, b, c):
    sum = a + b + c
    avg = sum/3
    print(avg)
    return avg


calc_avg(98, 97,95)

96.66666666666667

96.66666666666667

In [21]:
print("RichaSingh","PriyaSingh") #sep = " "

RichaSingh PriyaSingh

In [22]:
print("apnacollege")#sep = " "
print("shradhakhapra") #end = "\n"

apnacollege
shradhakhapra

In [23]:
print("apnacollege", end= " ")#sep = " "
print("shradhakhapra")

apnacollege shradhakhapra

In [25]:
print("apnacollege", end= "$")#sep = " "
print("shradhakhapra")

apnacollege$shradhakhapra

In [24]:
#default parameters
def cal_prod(a=2, b=3):
    print(a * b)
    return a * b

cal_prod()

6

6

In [28]:
def cal_prod(a, b=2):
    print(a * b)
    return a * b
cal_prod(1)

2

2

In [31]:
#Q=1 WAF to print the length of a list. (list is the parameter)
cities = ["delhi", "gurgaon", "noida", "pune", "mumbai", "chennai"]
heroes = ["thor" , "ironman", "captain america" , "shaktiman"]
print(heroes[0], end = "\n")
print(heroes[1], end = "\n")
print(heroes[0], end = " ")
print(heroes[1], end = " ")
def print_len(list):
    print(len(list))
print_len(cities)
print_len(heroes)

thor
ironman
thor ironman 6
4

In [35]:
#Q=2 WAF to print the elements of a list in a single line. (list is the parameter)
cities = ["delhi", "gurgaon", "noida", "pune", "mumbai", "chennai"]
heroes = ["thor" , "ironman", "captain america" , "shaktiman"]
def print_list(list):
    print(len(list))

def print_list(list):
    for item in list:
        print(item, end = " ")

print_list(heroes)

thor ironman captain america shaktiman

In [36]:
#Q=3 WAF to find the factorial of n.(n is the parameter)
n  = 5
def cal_fact(n):
    fact = 1

    for i in range (1, n+1):
      fact *= i
    print(fact) 
cal_fact(6)

720

In [37]:
#Q=4 WAF to convert USD to INR.
def converter(usd_val):
    inr_val = usd_val * 83
    print(usd_val, "USD=" , inr_val, "INR")
converter (73)

73 USD= 6059 INR